#para1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font:italic small-caps bold 24px/1 Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

/* #para2{
    font-style: oblique;
    font-weight=900;
    font-size=18px;
    font-variant:small-caps;
    
} */

#para2{
    text-shadow: 2px 3px 2px green ,-5px -3px 5px red;
}